<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-signin-client_id" content="408860939002-jns81q27ol854epa70jipfitj4oj7ocs.apps.googleusercontent.com">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Major+Mono+Display&family=Ubuntu:wght@400;700&display=swap" rel="stylesheet"> 
    <title>Welcome to KANBAN!</title>
</head>
<body>
    <div id="app">
        <div id="navbar">
            <nav id="nav">
                <div class="logoText" id="logo">
                    <a role="button"><h2>KANBAN</h2></a>
                </div>
                <div v-show="homeButton" id="homeButton">
                    <a v-on:click="homepage" role="button"><i class="fa fa-home"></i></a>
                </div>
                <div id="welcomeUser">
                    <div v-if="navBefore">
                        <span class="font-weight-bold">Already a user? Go</span>
                        <button v-on:click="loginForm" class="btn btn-light btn-sm font-weight-bold">Sign in</button>
                    </div>
                    <div v-else>
                        <span class="font-weight-bold">Welcome, {{firstName}}</span>
                        <button v-on:click="logoutProcess" class="btn btn-light btn-sm font-weight-bold">Sign out</button>
                    </div>
                </div>
            </nav>
        </div>
        
        <div id="home-before-login" v-show="homeBefore">
            <div id="imageHome">
                <img src="https://images.unsplash.com/photo-1586892478025-2b5472316f22?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80" width="750px" height="550px" alt="ini image">
            </div>
            <div id="contentHome">
                <h1>Looking for a place to organize your work?</h1>
                <br>
                <h1><span class="logoText">KANBAN</span> is the <b>right place</b> for you!</h1>
                <br>
                <h3>Go <b>register</b> yourself here.</h3>
                <button type="button" class="btn btn-outline-dark" v-on:click="registerForm">Register</button>
            </div>
        </div>

        <div id="loginPage" v-show="loginPage">
            <form id="loginForm" v-on:submit.prevent="loginProcess">
                <h3>Login Page</h3>
                <div class="form-group">
                    <label for="emailLogin">Email Address</label>
                    <input v-model="email" type="email" class="form-control" id="emailLogin" aria-describedby="emailHelp" placeholder="yourname@example.com">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                <div class="form-group">
                    <label for="passwordLogin">Password</label>
                    <input v-model="password" placeholder="********" type="password" class="form-control" id="passwordLogin">
                </div>
                <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" onclick="togglePassword(`passwordLogin`)" id="togglePass">
                    <label class="form-check-label" for="togglePass">Show Password</label>
                </div>
                <button type="submit" class="btn btn-outline-dark">Sign in</button><br><br>
                <p>or login through:</p>
                <div class="g-signin2" data-onsuccess="onSignIn"></div>
                <a href="#" onclick="signOut();">Sign out</a>
                <br>
                <p>Don't have account? register <a v-on:click="registerForm" role="button">here.</a></p>
            </form>
        </div>

        <div id="registerPage" v-show="registerPage">
            <form v-on:submit.prevent="registerProcess" id="registerForm">
                <h3>Register Page</h3>
                <div class="form-group">
                    <label for="nameRegister">Your Name</label>
                    <input v-model="name" type="text" class="form-control" id="nameRegister" placeholder="Adhitia Sofyan">
                </div>
                <div class="form-group">
                    <label for="emailRegister">Email Address</label>
                    <input v-model="email" placeholder="yourname@example.com" type="email" class="form-control" id="emailRegister" aria-describedby="emailHelp">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                <div class="form-group">
                    <label for="passwordRegister">Password</label>
                    <input v-model="password" placeholder="********" type="password" class="form-control" id="passwordRegister">
                </div>
                <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" onclick="togglePassword(`passwordRegister`)" id="togglePass">
                    <label class="form-check-label" for="togglePass">Show Password</label>
                </div>
                <button type="submit" class="btn btn-outline-dark">Register</button>
                <br><br><p>Already a user? Go Sign in <a v-on:click="loginForm" role="button">here.</a></p>
            </form>
        </div>

        <div class="container my-3">
            <div class="row" id="main-page" v-show="mainPage">
                <div class="column">
                    <div class="header">
                        <span>Backlog</span>
                        <div class="buttonHeader">
                            <i class="fa fa-folder-open-o" aria-hidden="true"></i>
                            <a v-on:click="addBacklog" role="button"><i class="fa fa-plus" aria-hidden="true"></i></a>
                        </div>
                    </div>
                    <div class="body">
                        <div v-show="addFormBacklog" class="formAdd">
                            <form v-on:submit.prevent="addTask">
                                <label for="title">Title</label><br>
                                <input v-model="title" type="text" class="form-control" name="title" id="title" placeholder="Bugs in Product A">
                                <label for="description">Description</label><br>
                                <textarea v-model="description" name="description" class="form-control" id="description" cols="20" rows="2" placeholder="When clicked, ads show up, user doesnt like it."></textarea>
                                <button type="submit" class="btn btn-secondary btn-sm my-2">Add</button>
                                <button v-on:click="cancelBacklog" type="button" class="btn btn-warning btn-sm my-2">Cancel</button>
                            </form>
                        </div>
                        <div class="content" id="backlog" v-for="task in backlogTasks" :key="task.id">
                            <h5><b>{{task.title}}</b></h5>
                            <p>{{task.description}}</p>
                            <small>By {{task.User.name}}</small>
                            <small>Updated at {{task.updatedAt}}</small>
                            <div class="logoContent">
                                <a role="button"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                                <a @click="deleteTask(task.id)" role="button"><i class="fa fa-trash" aria-hidden="true"></i></a>
                                <a role="button"><i class="fa fa-align-justify" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="addSection">
                        <h6>End of List</h6>
                    </div>
                </div>
                <div class="column">
                    <div class="header">
                        <span>To Do</span>
                        <div class="buttonHeader">
                            <i class="fa fa-folder-open-o" aria-hidden="true"></i>
                            <a role="button"><i class="fa fa-plus" aria-hidden="true"></i></a>
                        </div>
                    </div>
                    <div class="body">
                    </div> 
                    <div class="addSection">
                        <h6>End of List</h6>
                    </div>     
                </div>
                <div class="column">
                    <div class="header">
                        <span>On Progress</span>
                        <div class="buttonHeader">
                            <i class="fa fa-folder-open-o" aria-hidden="true"></i>
                            <a v-on:click="addOnprogress" role="button"><i class="fa fa-plus" aria-hidden="true"></i></a>
                        </div>
                    </div>
                    <div class="body">
                        <div class="content" id="onProgress" v-for="task in onProgressTasks" :key="task.id">
                            <h5><b>{{task.title}}</b></h5>
                            <p>{{task.description}}</p>
                            <small>By {{task.User.name}}</small>
                            <small>Updated at {{task.updatedAt}}</small>
                            <div class="logoContent">
                                <a v-on:click="deleteTask" role="button"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                                <a role="button"><i class="fa fa-trash" aria-hidden="true"></i></a>
                                <a role="button"><i class="fa fa-align-justify" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="addSection">
                        <h6>End of List</h6>
                    </div>
                </div>
                <div class="column">
                    <div class="header">
                        <span>Done</span>
                        <div class="buttonHeader">
                            <i class="fa fa-folder-open-o" aria-hidden="true"></i>
                            <a role="button"><i class="fa fa-plus" aria-hidden="true"></i></a>
                        </div>
                    </div>
                    <div class="body">
                    </div>
                    <div class="addSection">
                        <h6>End of List</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>    
    
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://apis.google.com/js/platform.js" async defer></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="main.js"></script>
</body>
</html>